<h2><%= @product.name %></h2>
<br>
<div class="product-image">
  <img src="<%= @product.image %>" alt="" />
</div>

<h3>PRODUCT INFORMATION</h3>
<h4>Price: <%= number_to_currency(@product.price) %></h4>
<h4>Description: <%= @product.description %></h4>
<br>

<% if current_user %>
  <% if @comments %>
    <h5>Comments:</h5>
    <% @comments.each do |comment| %>
      <%= comment.content %>
      <br>
      <% if current_user && current_user.admin? %>
        <%= link_to "Edit Comment", edit_product_comment_path(@product, comment) %> |     <%= link_to "Delete Comment", product_comment_path(@product, comment), :data => {:confirm => "Are you sure?", :method => "delete"} %>
      <% end %>
      <br>
      <br>
    <% end %>
  <% end %>
<% end %>
<br>

<% if current_user %>
  <%= link_to "Add Comment", new_product_comment_path(@product), class: "btn" %>
  <br>
  <br>
<% end %>
<% if current_user && current_user.admin? %>
  <%= link_to "Edit Product", edit_product_path(@product), class: "btn" %>
  <%= link_to "Delete Product", product_path(@product), :data => {:confirm => "Are you sure?", :method => "delete"}, class: "btn" %>
<% end %>
